body {
  font-size: 62.5%;
  background: #dadada;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding: 2em;
}

.accordion {
  font-size: 19px;
  margin: 0 auto;
  background: #f8f8f8;
}

.accordion-header {
  padding: 1.5em 1.5em;
  color: #000;
  cursor: pointer;
  font-size: .8em;
  letter-spacing: .1em;
  transition: all .3s;
}

.accordion-header:hover {
  position: relative;
  z-index: 5;
  background: #ee0;
}

.stud-name {
  transition: .2s ease;
}
.accordion-header:hover .stud-name {
  margin-left: 8px;
}

/* Accordion Item */
.accordion__item {
  border-bottom: 1px solid #efefe0;
}
.accordion__item:last-child {
  border-bottom: none;
}

/* Header */

.accordion__item.active .accordion-header {
  background: #ee0;
}


.accordion-body {
  color: #3f3c3c;
  display: none;
}
.accordion-body__contents {
  padding: 1.5em 1.5em;
}


@media screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }
  .accordion {
    width: 100%;
  }
}


.flex-container {
  padding: 15px 0;
  margin: 0;
}
.flex-item-70 {
  flex: 4;
  padding: 5px 5px 5px 10px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
.flex-item-30 {
  flex: 1;
  padding: 5px 5px 5px 10px;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}

.flex-item {
  flex-basis: 100%;
  padding: 5px 5px 5px 10px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.gravity {
  margin: auto 0;
}

.flex-item:first-child,
.flex-item:last-child {
  border: none;
}

@media screen and (min-width: 640px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex-item {
    flex: 1;
  }
  .flex-item:first-child {
    border-right: 1px dotted #ccc;
  }
  .flex-item:last-child {
    border-left: 1px dotted #ccc;
  }
}


.flex-item-30 h2,
.flex-item-70 h2,
.flex-item h2 {
  color: #3d5;
  font-size: 25px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  margin-left: 36px;
}

.flex-item-30 h5,
.flex-item-70 h5,
.flex-item h5 {
  color: #888898b0;
  font-size: 17px;
  font-weight: 100;
  line-height: 21px;
  margin: 0px;
  padding: 0px;
  left: 20px;
}

.flex-item-30 h5:before,
.flex-item-70 h5:before,
.flex-item h5:before {
  padding-right: 10px;
  font-size: 24px;
  vertical-align: middle;
}


.flex-item-30 p,
.flex-item-70 p,
.flex-item p {
  color: #210;
  font-size: 19px;
  margin: 0px;
  margin-left:34px;
  padding: 0px;
}

.margin-top20 {
  margin-top: 20px;
}



.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 12px;
  background-color: #FAFAFA;

  .btn-create-user {
    margin-top: 20px;
    padding: 20px 70px;
    background: #337ab7;
    color: #fff;
    font-size: 19px;
    font-weight: 200;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
}



/* -----------------------
  Form
----------------------- */

.btn-primary {
  padding-top: 10px;
  margin:10px 0px;
  outline: none;
  outline: none;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}


.form-control {
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}
.form-group {
  position: relative;
  margin-bottom: 25px;
}
.form-group > label {
  text-transform: uppercase;
  font-size: 10px;
  color: #a1a2a3;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  pointer-events: none;
  position: relative;
  z-index: 5;
}
.form-group > input {
  width: 100%;
}
.form-group > label {
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1.3) translateY(5px);
  transform: scale(1.3) translateY(5px);
}
.form-group.not-empty > label {
  -webkit-transform: none;
  transform: none;
}
/*------------------------------
	Form
------------------------------*/
.form-control {
  border: 0;
  border-bottom: 1px solid #bcd0e0;
}
.form-control,
.form-control:focus,
.form-control:focus:hover {
  color: #000;
  background: none;
  outline: none;
  font-size: 24px;
}
.form-control:focus,
.form-control:focus:hover {
  border-bottom: 1px solid #008dff;
}


label {
  font-weight: 200;
}
th {
  font-weight:400;
}
.btn {
  box-shadow: -3px 4px 2px -1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
}
.btn:hover {
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.btn.focus, .btn:focus, .btn:hover {
  outline: none;
}

fieldset {
  margin-left: 62px;
  margin-top: 7px;
}

input[type="radio"]:checked + label::before {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-width: 2px;
}

input[type="radio"] +label::before {
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6672a0;
  border: 0px solid #6672a0;
  font-size: 0;
  position: absolute;
  bottom: 275%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

input[type="radio"]:checked + label::after {
  width: 30px;
  height: 30px;
}

input[type="radio"] +label::after {
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #6672a0;
  position: absolute;
  bottom: 275%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

input[type="radio"] +label {
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 20px;
  padding-right: 20px;
}

input[type="radio"] +label {
  color: #6672a0;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
input[type="radio"] {
  display: none;
}
