<div class="breadcrumb">
  <span class="badge-breadcrumb">&nbsp;you are here&nbsp;</span>
  <li class="breadcrumb-item">Login</li>
</div>

<h2 class="site-title margin-top-20">Login</h2>


<div class="row">
  <div class="col-12 col-md-9 col-xl-9">
  <form [formGroup]="form" class="well ng-valid ng-dirty ng-pristine margin-top-40">

    <div>
      <label for="email">Username:</label>
      <input name="email" id="email" formControlName="email" class="form-control">

      <span *ngIf="form.get('email').touched &&
        form.hasError('required', 'email')">
          <i>username is a mandatory field, can't be empty.</i></span>
    </div>


    <div>
      <label for="password">Password:</label>
      <input name="password" id="password"
             formControlName="password" type="password" autocomplete="on" class="form-control">

      <span *ngIf="form.get('password').touched &&
        form.hasError('required', 'password')">
          <i>password is a mandatory field, can't leave empty.</i></span>
    </div>

    <button class="btn btn-primary btn-login"
            (click)="login()">Login</button>

  </form>
  </div>
</div>






